html {
    text-align: center;
}

html>* {
    text-align: center;
}

body {
    display: inline-block;
    background-color: #f1f3f1 !important;
    text-align: center !important;
}

#logo_image {
    display: inline-block;
    width: 95%;
    height: 95%;
    max-width: 300px;
    max-height: 300px;
    padding: 20px;
}

.cookie_disclaimer {
    
}

