<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Linux Quiz</title>
    <meta name="description" content="Linux Quiz">
    <meta name="author" content="Matias Barrios">
    <link rel="stylesheet" href="static/executeQuizz/style.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/executeQuizz/main.js"></script>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/index">Home</a>
        <a href="/logout" class="righty" ><div>Logout : <b>{{ .User.Name }}</b></div></a>
        <a href="/contact" class="righty" >Contact</a>
        <a href="/about" class="righty" >About</a>
    </div>
    <div class="title_and_description" >
        <h5> {{ .Quiz.ID }} </h5>
        <h6> {{ .Quiz.Description }} </h6>
    </div>
   {{range $q := .Quiz.Questions}} 
    <div class="question_container">
        <p><h4>{{ $q.Question }}</h4></p>
        {{ $mode := $q.Mode }} {{ if eq $mode "single" }}
            {{range $o := $q.Options}}
            <input type="radio" id="{{ $q.ID }}" name="{{ $q.ID }}" value="{{$o}}">
            <label for="{{ $q.ID }}">{{$o}}</label><br>
            {{end}}
        {{ end}}
    </div>
   {{ end }}
    <div class="validate_quiz">
        <button type="submit" class="validate_button" onclick="validate('{{.Quiz.ID}}')">Validate</button>
    </div>
</body>

</html>