<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Linux Quiz</title>
    <meta name="description" content="Linux Quiz">
    <meta name="author" content="Matias Barrios">
    <link rel="stylesheet" href="static/indexV/style.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/index">Home</a>
        <a href="/logout" class="righty" ><div>Logout : <b>{{ .User.Name }}</b></div></a>
        <a href="/contact" class="righty" >Contact</a>
        <a href="/about" class="righty" >About</a>
    </div>
   <h1> <b>Quizz </b>: {{ .Quiz.ID }} </h1>
   {{range $q := .Questions}}
    <div class="question_container">
        <p><h3>{{ .q.Question }}</h3></p>
        {{ $mode := .q.Mode }} {{ if eq $mode "single" }}
            {{range $o := .q.Options}}
            <input type="radio" id="{{ .q.ID }}" name="{{ .q.ID }}" value="{{$o}}">
            <label for="{{ .q.ID }}">{{$o}}</label><br>
            {{end}}
        {{ end}}
    </div>
   {{ end }}
</body>

</html>