.q-button {
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
}

.q-button:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color: #0061a7;
}

.q-button:active {
    position: relative;
    top: 1px;
}

/* Add a black background color to the top navigation */

.topnav {
    background-color: rgb(104, 177, 211);
    overflow: hidden;
}

/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
}

.righty {
    float: right !important;
}

/* Change the color of links on hover */

.topnav a:hover {
    background-color: rgb(18, 208, 214);
    color: black;
}

/* Add a color to the active/current link */

.topnav a.active {
    background-color: rgb(133, 212, 237);
    color: white;
}

html {
    text-align: center;
}

html>* {
    text-align: center;
}

body {
    display: inline-block;
    text-align: center !important;
    width: 98%;
}

.pagination_container {
    display: inline-flex;
    text-align: center !important;
}

.pagination_item {
    display: inline-block;
    border-radius: 50%;
    border: 2px #588ac1 solid;
    background-color: moccasin;
    padding: 10px;
    margin: 10px;
}