<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Linux Quiz</title>
    <meta name="description" content="Linux Quiz">
    <meta name="author" content="Matias Barrios">
    <link rel="stylesheet" href="static/indexV/style.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/index">Home</a>
        <a href="/logout" class="righty" ><div>Logout : <b>{{ .User.Name }}</b></div></a>
        <a href="/contact" class="righty" >Contact</a>
        <a href="/about" class="righty" >About</a>
    </div>
    {{ $length := len .Quizzes }} {{ if gt $length 0 }}
    <div class="quizzes_container" >
        
        {{range $val := .Quizzes}}
            <div class="quizz">
                <div class="quizz_info" >
                    <p id="quiz_ID_title" ><h3><u></s><b>Id :</b> <span id="quiz_ID">{{ $val.ID}} </span> </u></h1></p>
                    <p class="quiz_data" ><b>Author :</b> {{ $val.Author}} </p>
                    <p class="quiz_data" ><b>Description :</b> {{ $val.Description}} </p>
                    <p class="quiz_data" ><b>Number of questions :</b> {{ len $val.Questions }} </p>
                </div>
                <div class="image_centered" >
                    <a href="/execute?quizz={{ $val.ID }}">
                        <img class="take_quizz" src="static/images/play_icon.png" />
                    </a>
                    {{ if $val.Completed }}
                        <img class="take_quizz" src="static/images/tickgreen.png" />
                    {{ else }}
                        <img class="take_quizz" src="static/images/tickgray.png" />
                    {{ end }}
                </div>
            </div>
        {{end}} 
    </div>
    {{ else }}
    <div class="quizzes_container" >
        <p><h3></s><b> Not available courses at the moment!</h1></p>
    </div>
    {{ end }}
</body>

</html>