<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Linux Quiz</title>
    <meta name="description" content="Linux Quiz">
    <meta name="author" content="Matias Barrios">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="static/bootstrap-4.3.1-dist/css/bootstrap.css">
    <script src="static/jquery.min.js"></script>
    <script src="static/popper.min.js"></script>
    <script src="static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <link href="static/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet">
    <script defer src="static/fontawesome-free-5.12.1-web/js/all.js"></script>
    <!-- ----- -->
    <link rel="stylesheet" href="static/indexV/style.css">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg static-top">
        <div class="container">
            <a class="navbar-brand" href="/index">LinuxQuizApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="active" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/change">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout"><div>Logout : <b>{{ .User.Name }}</b></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{ $length := len .Quizzes }} {{ if gt $length 0 }}
    {{ if gt $.Total 10 }}
    <div class="pagination_container" >
        <a class="pagination_item" href="/index?offset=0"> start</a>
        {{ $totalpages :=  paging $.Total 10}}
        {{ $lastpage :=  lastpage $.Total 10}}
        {{ range $y := intRange 0 (increment $totalpages -1)}}
        <a class="pagination_item" href="/index?offset={{multiply . 10}}"> {{ increment . 1}}</a>
        {{end}}
        <a class="pagination_item" href="/index?offset={{$lastpage}}"> end</a>
    </div>
    {{ end }}
    <div class="container">
        {{range $val := .Quizzes}}
        <div class="row">
            <div class="col centered">
                <div class="quizzes_container" >
                    <div class="quizz">
                        <div class="quizz_info" >
                            <p id="quiz_ID_title" ><h1><u></s><b>Id :</b> <span id="quiz_ID">{{ $val.ID}} </span> </u></h1></p>
                                <p class="quiz_data" ><h3><b>Author :</b> {{ $val.Author}} </h3></p>
                                <p class="quiz_data" ><h3><b>Description :</b>{{ $val.Description}}  </h3></p>
                                <p class="quiz_data" ><h3><b>Number of questions :</b>{{ len $val.Questions }}  </h3></p>
                            </div>
                            <div class="image_centered" >
                                <a href="/execute?quizz={{ $val.ID }}">
                                    <img class="take_quizz" src="static/images/play.png" />
                                </a>
                                {{ if $val.Completed }}
                                <img class="completed_image" src="static/images/tickgreen.png" />
                                {{ else }}
                                <img class="completed_image" src="static/images/tickgray.png" />
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        {{ if gt $.Total 10 }}
        <div class="pagination_container" >
            <a class="pagination_item" href="/index?offset=0"> start</a>
            {{ $totalpages :=  paging $.Total 10}}
            {{ $lastpage :=  lastpage $.Total 10}}
            {{ range $y := intRange 0 (increment $totalpages -1)}}
            <a class="pagination_item" href="/index?offset={{multiply . 10}}"> {{ increment . 1}}</a>
            {{end}}
            <a class="pagination_item" href="/index?offset={{$lastpage}}"> end</a>
        </div>
        {{ end }}
        {{ else }}
        <div class="quizzes_container" >
            <p><h1><b> Not available courses at the moment!</b></h1></p>
            </div>
            {{ end }}
        </body>
</html>